.stock-chart-wrapper{
    width: 1000px;
    background: #22272b;
}
.stock-chart-wrapper .chart-title{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 14px;
    padding: 10px 20px;
}
.stock-chart-wrapper .quote-wrapper{
    display: flex;
    align-items: center;
   
}
.stock-chart-wrapper .current-period{
    color: #aaa;
}
.code-name{
    color: #aaa;
    font-size: 20px;
    margin-right: 10px;
}
.code-price,.change-rate{
    font-size: 15px;
    margin-right: 10px;
}
.select-right{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.select-right .current-period{
  
    background: #333;
    padding: 3px 10px;
    cursor: pointer;
}
.select-right .current-period.active{
    background: #39f;
    color: #fff;
}

.select-right .select-period,.select-indicator{
    position: relative;
    margin-left: 10px;
}

.period-list,.indicator-list{
    position: absolute;
    left: 0;
    top: 30px;
    background: #343e44;
    color: #73838e;
    width: 80px;
    z-index: 9;
}

.indicator-list{
    width: 120px;
}

.period-item,.indicator-item{
    padding: 5px 10px;
    cursor: pointer;
}
.period-item:hover,.indicator-item:hover{
    background: #39f;
    color: #fff;
}

